.infoBox {
  flex: 1;
  border-radius: 2px;
  color: #6a5d5d;
  cursor: pointer;
}

.MuiCardContent-root {
  background-color: #262626;
}

.infoContent {
  background-color: #262626;
}

.infoBox:not(:last-child) {
  margin-right: 10px;
}

.infoBox--selected {
  border-top: 10px solid greenyellow;
}

.infoBox--red {
  border-color: red;
}
.infoBox--purple {
  border-color: #3a20e6;
}

.infoBox__cases--green {
  color: lightgreen !important;
}
.infoBox__cases--purple {
  color: #3a20e6 !important;
}

.infoBox__cases {
  color: #cc1034;
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}

.infoBox__total {
  color: #6a5d5d;
  font-weight: 700 !important;
  font-size: 0.8rem !important;
  margin-top: 15px !important;
}
@media screen and (max-width: 625px) {
  .infoBox__cases {
    font-size: 1.5rem;
  }
  .infoBox--selected {
    border-top: none;
    border-right: 10px solid greenyellow;
  }
  .infoBox--red {
    border-color: red;
  }
  .infoBox--purple {
    border-color: #3a20e6;
  }
  .infoBox:not(:last-child) {
    margin-right: 0;
  }
}
