.map {
  height: 500px;
  background-color: #262626;
  padding: 1rem;
  border-radius: 4px;
  margin-top: 16px;
  box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
}

.map .leaflet-container {
  height: 100%;
}

.map .leaflet-popup-content-wrapper {
  background-color: #262626;
}

.map .leaflet-popup-tip {
  background-color: #262626;
}

.info-name {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #ccc;
}

.info-container {
  width: 150px;
}

.info-flag {
  height: 100px;
  width: 100%;
  object-fit: fill;
  border-radius: 4px;
  border: 1px solid #555;
}

.info-confirmed,
.info-recovered,
.info-deaths {
  font-size: 16px;
  margin-top: 5px;
  color: #ccc;
}
